root = true

[*]
charset = utf-8
indent_style = tab
indent_size = 4
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
indent_style = space

[*.yaml, *.yml]
indent_style = space
indent_size = 2

[*.json]
indent_style = tab
indent_size = 2

[*.{xml,qrc}]
indent_style = space
indent_size = 2

[CmakeLists.txt]
indent_style = space
indent_size = 2

[*.cmake]
indent_style = space
indent_size = 2
